html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ededed;
}
#daddy {
  width: 50%;
}
.litespace {
  fill: red;
}
.darkspace {
  fill: #222;
}
.litepiece {
  fill: purple;
}
.darkpiece {
  fill: green;
}
